@tailwind base;
@tailwind components;
@tailwind utilities;

.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    overflow-y: auto;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20vh;
}

.logo {
    width: 80px;
    height: 80px;
    background-color: #0066ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 40px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: calc(-7vw - 200px);
    top: 20px;
    transition: left 0.3s ease-in-out;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
}

h1 .first-line {
    display: inline-block;
    margin-left: -5.5em;
}

h1 .second-line {
    display: inline-block;
    margin-left: 2em;
}

.blue-text {
    color: #0066ff;
}

.search-container {
    position: relative;
    margin-bottom: 20px;
}

#clearSearch {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 20px;
    color: #888;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button,
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    font-weight: 550;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#scavenge:hover {
    background-color: #0052cc;
    transition: background-color 0.3s ease;
}

#browseAll:hover {
    background-color: #e5e7eb;
    transition: background-color 0.3s ease;
}

@media only screen and (max-width: 233px) {

    button,
    .button {
        padding: 7px 14px;
        font-size: 9px;
        border-radius: 15px;
    }

    input[type="text"] {
        padding: 9px 0px 9px 0px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 234px) and (max-width: 244px) {

    button,
    .button {
        padding: 7px 14px;
        font-size: 11px;
        border-radius: 15px;
    }

    input[type="text"] {
        padding: 9px 0px 9px 0px;
        font-size: 11px;
    }
}

@media only screen and (min-width: 245px) and (max-width: 270px) {

    button,
    .button {
        padding: 7px 14px;
        font-size: 12px;
        border-radius: 15px;
    }

    input[type="text"] {
        padding: 10px 0px 10px 0px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 271px) and (max-width: 310px) {

    button,
    .button {
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 15px;
    }

    input[type="text"] {
        padding: 12px 0px 12px 0px;
        font-size: 14px;
    }
}

#scavenge {
    background-color: #0066ff;
    color: white;
}

#browseAll {
    background-color: white;
    color: #0066ff;
}

.separator {
    font-size: 35px;
    color: white;
}

/* ------------------ browse all css starts here ------------------ */

.scavenge-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.scavenge-page header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.scavenge-page main {
    flex-grow: 1;
    padding: 20px;
}

.search-bar {
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.search-bar input {
    background: transparent;
    border: none;
    color: #ffffff;
    width: 200px;
}

.close-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

main {
    padding: 20px;
}

.community-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.community-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.community-info {
    margin-bottom: 20px;
}

.community-stats {
    font-size: 14px;
    color: #888888;
}

.posts .post {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-content {
    flex-grow: 1;
}

.post-meta {
    font-size: 12px;
    color: #888888;
    margin-bottom: 5px;
}

.post-title {
    margin: 0 0 10px 0;
}

.post-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.post-actions button {
    background: none;
    border: none;
    color: #888888;
    cursor: pointer;
    margin-right: 15px;
}

/* ------------------ TokenPage css starts here ------------------ */

/* TokenPage Specific Styles */
.TokenPage {
    background-color: #1a1a1a;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.TokenPage .container {
    max-width: 1000px;
    min-width: 667px;
    margin: 0 auto;
    text-align: left;
}

.TokenPage .sidebar {
    background-color: #1a1a1a;
    padding: 1rem;
}

.TokenPage .post-form h3 {
    font-size: 24px;
}

.TokenPage .post-form {
    padding-left: 1rem;
    padding-right: 1rem;
}

.TokenPage button:hover {
    background-color: #0052cc;
    transition: background-color 0.3s ease;
}

.TokenPage .post-content {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

@media (max-width: 667px) {
    .TokenPage .container {
        width: 95vw;
        min-width: 95vw;
    }
}

@media (max-width: 768px) {
    .TokenPage .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 230px) {
    .logo {
        left: calc(0vw - 0px);
    }

    h1 .first-line,
    h1 .second-line {
        font-size: 24px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 231px) and (max-width: 270px) {
    .logo {
        left: calc(0vw - 0px);
    }

    h1 .first-line,
    h1 .second-line {
        font-size: 28px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 271px) and (max-width: 310px) {
    .logo {
        left: calc(0vw - 0px);
    }

    h1 .first-line,
    h1 .second-line {
        font-size: 34px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 311px) and (max-width: 365px) {
    .logo {
        left: calc(0vw - 0px);
    }

    h1 .first-line,
    h1 .second-line {
        font-size: 40px;
        margin-left: 0;
    }
}

@media only screen and (min-width: 366px) and (max-width: 675px) {
    .logo {
        left: calc(0vw - 0px);
    }

    h1 .first-line,
    h1 .second-line {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .TokenPage .container {
        padding: 0 10px;
    }

    .TokenPage .token-info,
    .TokenPage .post-form,
    .TokenPage .posts {
        padding: 15px;
    }
}

/* BrowseAll.css */

.browse-all {
    height: 100vh;
    margin: 0 auto;
}

.browse-all .body {
    overflow: auto;
}

.browse-all .container {
    max-width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

@media (max-width: 671px) {
    .browse-all .container {
        width: 95vw;
        min-width: 95vw;
    }
}

.post-details {
    height: 100vh;
    margin: 0 auto;
}

.post-details .body {
    overflow: auto;
}

.post-details .container {
    max-width: 1000px;
    min-width: 672px;
    margin: 0 auto;
    text-align: left;
}

@media (max-width: 671px) {
    .post-details .container {
        width: 95vw;
        min-width: 95vw;
    }
}

/* src/components/ScrollButton.css */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: #0066ff;
    z-index: 1000;
}

/* src/components/TonConnectButton.css */

.TonConnectButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px;
    left: calc(-7vw - 200px);
}

.TonConnectButton:hover {
    background-color: #f0f0f0;
}

.TonConnectButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}